<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="style.css">

  <title>Pizza Shop</title>
</head>
<body>
  <nav>
    <ul><h1>Welcome to CodeClanPizzaPlace!</h1><h1>
      <li><a href="/pizza-orders">Pizza Orders</a></li>
      <li><a href="/pizza-orders/new">Place new order</a></li>
      <hr/>
</h1>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
