<!-- first name:
  last name:
  topping:
  quantity: -->
<p>First name: <%= @order.first_name  %> </p>
<p>Last name: <%= @order.last_name  %> </p>
<p>Topping: <%= @order.topping  %> </p>
<p>Quantity: <%= @order.quantity  %> </p>
